@import url(Bootstrap);
@import url(Bootstrap-icons);

.product-card {
    border: 0;
    min-height: 200px;
    border: 1px solid rgb(22, 39, 84);
    background-color: rgb(255, 255, 255);
}

.product-image-wrapper {
    max-width: 50%;
    border-radius: 0.5rem;
    overflow: hidden;
}

.description {
    display: none;
}

.product-content {
    max-width: 50%;
}

.product-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.faqs {
    cursor: pointer;
}

@media screen and (max-width: 990px) {
    .description {
        display: inline;
    }
}