@import url(Bootstrap);
@import url(Bootstrap-icons);

.product-card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.product-card h4 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.product-image-wrapper {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.product-image-wrapper img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}